<h1>About us</h1>
<pre>Balinj Infotech India Private Limited
As on February 07, 2018

Balinj Infotech India Private Limited is a Non-Government Company Company. It is incorporated on 7/25/2017 with Registrar

It is a Non-Government Company company and The total Authorised Capital is INR 1000000 and Paid up capital is INR 10000.
Balinj Infotech India Private Limited main business activity is Business Services and business activity code is 74999.

The Detailed information of Balinj Infotech India Private Limited is given as below.

Balinj Infotech India Private Limited, Company Information INDIA
Company Name
 Private Limited	U74999MH2015PTC262685	RoC-Mumbai	Active
Primary Plus Fusion Software Privatelimited	U74999DL2014PTC270687	RoC-Delhi	Active
Advertisement</pre>


 
