<h1>About us</h1>
<pre>Balinj Infotech India Private Limited
As on February 07, 2018

Balinj Infotech India Private Limited is a Non-Government Company Company. It is incorporated on 7/25/2017 with Registrar of Companies office at ROC - CHENNAI India. The Balinj Infotech India Private Limited company registered office address is NO 7A, 7TH MAIN ROAD, 4TH AVENUE WEST 2ND CROSS STREET,DHANDESWARAM,VELACHERY CHENNAI Chennai-600042. Corporate Identity Number (CIN) of Balinj Infotech India Private Limited is U74999TN2017PTC117761 and company registration number is 117761.

It is a Non-Government Company company and The total Authorised Capital is INR 1000000 and Paid up capital is INR 10000.
Balinj Infotech India Private Limited main business activity is Business Services and business activity code is 74999.

The Detailed information of Balinj Infotech India Private Limited is given as below.

Balinj Infotech India Private Limited, Company Information INDIA
Company Name

BALINJ INFOTECH INDIA PRIVATE LIMITED

Company CIN

U74999TN2017PTC117761

RoC

ROC - CHENNAI

Date of Incorporation

7/25/2017

Registeration No.

117761

State

Tamil Nadu

Country

Bharat / India

Class of Company

Private

Company Category

Company Limited by Shares

Company Type

Non-Government Company

Age of Company

1 Years, 1 Months and 8 Days

Activity Code

74999

Activity Description

Business Services

Company Status

Active

Balinj Infotech India Private Limited Share Capital Information
Authorised Capital

₹ 1000000

Paid up capital

₹ 10000

Balinj Infotech India Private Limited Contact Information
Registered Address	NO 7A, 7TH MAIN ROAD, 4TH AVENUE WEST 2ND CROSS STREET,DHANDESWARAM,VELACHERY CHENNAI Chennai-600042
Email	N/A
Related Companies incorporated in India with same activity
Companies incorporated in India for Business Services activities
Company	CIN	ROC	Status
C-Stratum Healthcare Consultants Private Limited	U74999MH2017PTC298449	ROC - MUMBAI	Active
City Office Solutions Private Limited	U74999HR2005PTC035607	RoC-Delhi	Active
Vmak Electricals Private Limited	U74999DL2016PTC300739		Active
Acme Textilaties Private Limited	U74999MH1963PTC012592	RoC-Mumbai	Struck-Off
Shwetpushp Media & Advertising Private Limited	U74999WB2018PTC224341	ROC - KOLKATA	Active
Pcbcare Solutions Private Limited	U74999MH2012PTC233511	RoC-Mumbai	Active
Super Star Axles Private Limited	U74999DL2016PTC306156		Active
Ramkrishna Medical Stores Privatelimited	U74999WB2011PTC168124	RoC-Kolkata	Active
Keshri Express Private Limited	U74999CT2016PTC007499		Active
Royal Rice Private Limited	U74999DL2013PTC258973	RoC-Delhi	Active
Uniegis Network Private Limited	U74999DL2017PTC317292	ROC - DELHI	Active
Sai Estate Consultants Chembur Privatelimited	U74999MH2014PTC257634	RoC-Mumbai	Active
Sarps Pharmaceutical Private Limited	U74999PN2016PTC166139		Active
Vakratunda Hospital Private Limited	U74999MH2015PTC262685	RoC-Mumbai	Active
Primary Plus Fusion Software Privatelimited	U74999DL2014PTC270687	RoC-Delhi	Active
Advertisement</pre>


 
