<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-bodysidenav></app-bodysidenav>
        </div>
        
        <div class="col-md-8">
            <app-home></app-home> 
            <p>The Angular CLI installs the necessary npm packages, creates the project files, and populates the project
                with a simple default app. This can take some time.</p>

                <app-product></app-product>
                <app-contactus></app-contactus>
                <app-aboutus></app-aboutus>

        </div>
    </div>
</div>