<div class="row">
    <div class="col-md-12">
            <div style="text-align:center" >
                    <h1>{{prod.name}}</h1>
                    <img [src]="fullImagePath" alt="some text" width="400">
                    <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                            </div>
                      <button type="button" class="btn-lg" >Buy</button>
                      <button type="button" class="btn-lg" >CART</button>
            </div>
         </div>
    </div>