<div class="row">
        <div class="col-md-2">
                <div>
                        <h3 (click)="action='mobile1'">mobile</h3>
                        <img [src]="fullImagePath" alt="some text" >
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
</div>
<div class="row">
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
        <div class="col-md-2">
                <div>
                        <h3>mobile</h3>
                        <img [src]="fullImagePath" alt="some text">
                        <div>Smarit Samsung Galaxy J8 2018 Wallet Leather Case with Protective 
                                </div>
                          <button type="button" >Buy</button>
                          <button type="button" >CART</button>
                </div>
        </div>
</div>